

    <div class="container pb-5">
      <h1 style="font-family: 'Acme', sans-serif;">Our Services</h1>
      <div class="row">
        <div data-aos="fade-right"  data-aos-duration="800" class="service">
          <i class="fas fa-laptop-code"></i>
          <h2>Web Design</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            quae?
          </p>
        </div>
        <div data-aos="fade-down-right" data-aos-duration="800" class="service">
          <i class="fas fa-chart-line"></i>
          <h2>Marketing</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            quae?
          </p>
        </div>
        <div data-aos="fade-down-left" data-aos-duration="800" class="service">
          <i class="fab fa-sketch"></i>
          <h2>Graphics</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            quae?
          </p>
        </div>
        <div data-aos="fade-left"  data-aos-duration="800" class="service">
          <i class="fas fa-database"></i>
          <h2>Data Analysis</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            quae?
          </p>
        </div>
        <div data-aos="fade-right"  data-aos-duration="800" class="service">
          <i class="fas fa-mobile-alt"></i>
          <h2>App Development</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            quae?
          </p>
        </div>
        <div data-aos="fade-up-right" data-aos-duration="800" class="service">
          <i class="fas fa-file-invoice"></i>
          <h2>Accounting</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            quae?
          </p>
        </div>
        <div data-aos="fade-up-left" data-aos-duration="800" class="service">
          <i class="fas fa-money-check-alt"></i>
          <h2>Payroll</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            quae?
          </p>
        </div>
        <div data-aos="fade-left"  data-aos-duration="800" class="service">
          <i class="fas fa-network-wired"></i>
          <h2>Networking</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            quae?
          </p>
        </div>
      </div>
    </div>
  