<div class="footerhead">
    <div class="text-center word22 pt-4"><h4>Connect Us</h4></div>
    <div class="social">
        <ul class="no-list">
            <a data-aos="fade-zoom-in"data-aos-duration="600" routerLink="" target="_blank">
                <li class="facebook"><i class="fab fa-facebook-f"></i></li>
            </a>
            <a data-aos="fade-zoom-in"data-aos-duration="1000" routerLink="" target="_blank">
                <li class="twitter"><i class="fab fa-twitter"></i></li>
            </a>
            <a data-aos="fade-zoom-in"data-aos-duration="1400"routerLink="" target="_blank">
                <li class="pinterest"><i class="fab fa-pinterest"></i></li>
            </a>
            <a data-aos="fade-zoom-in"data-aos-duration="1800" routerLink="" target="_blank">
                <li class="google-plus"><i class="fab fa-google-plus-g" target="_blank"></i></li>
            </a>
            <a data-aos="fade-zoom-in"data-aos-duration="2200" routerLink="" target="_blank">
                <li class="instagram"><i class="fab fa-instagram"></i></li>
            </a>
            <a data-aos="fade-zoom-in"data-aos-duration="2600" routerLink="" target="_blank">
                <li class="youtube"><i class="fab fa-youtube" target="_blank"></i></li>
            </a>
          </ul>
    </div>
    <!-- Quick Links -->

    <div class="d-flex justify-content-evenly text-wrap mt-4">
        <div class="addresslist mt-3">

            <h5 style="font-family: 'Acme', sans-serif;" class="mb-3">Quick Links</h5>
            <div class="links2">
            <a routerLink="about"><p>About Us</p></a>
            <a routerLink="contact"><p>Contact Us</p></a>
            <a routerLink=""><p>Privacy Policy</p></a>
            <a routerLink=""><p>Terms of Service</p></a>
            </div>
        </div>
           <div></div>
           <div></div>
        <div class="subscribelist">
      <div>
        <h5 style="font-family: 'Acme', sans-serif;" class="text-white text-center mt-3">Subscribe to our Newsletters</h5>
        <form role="search" class="search-form form">
            <label>
                <span class="screen-reader-text">Search for...</span>
                <input type="search" class="search-field" placeholder="Your Email...."/>
            </label>
            <input type="submit" value="Subscribe" class="search-submit button"/>
        </form>
      </div>
    </div>
    </div>

         <!-- Copyright Section -->
        <div class="text-white text-center mt-5">
            <br>   
            <p>Copyright © 2022 CodeMonk.  All rights reserved.</p>
            <p class="span2">
                Made with <i class="fa fa-heart pulse"></i> in India
            </p>
         </div>
</div>